@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ece8e0;
  --foreground: #232323;
}

.dark {
  --background: #232323;
  --foreground: #f8f8f8;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-playfair-display), Serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
